@model BirthdayCards.Models.Card

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Sent</title>
</head>
<body>

    <div>
        <h3>Birthday Card Generator</h3>
        <hr />
        <h4>Birthday Card Sent</h4>
    </div>
    <div>From: @Model.FromName</div>
    <div>To: @Model.ToName</div>
    <div>Message: @Model.Message</div>
   
    <div>
        <a asp-action="Index">Back to Home</a>
    </div>
</body>
</html>
